$color-gray: #4d4d4d
$color-light-gray:#B0B0B0
$color-white: #FFFFFF
$color-forestgreen:#233000
$color-forestgreen-transparent: rgba(35, 48, 0, 0.703)
$color-olive:#5E6600
$color-pear:#9CAA00
$color-beige:#EBF0E4
$color-black:#000000

$font-family-title:"rufina"
$font-size-h1: 10.8rem
$font-size-h2: 6.8rem
$font-size-h3: 3.8rem

$margin-vertical-big: 8rem
$gutter-horizontal: 6rem
$shadov-h2: 0rem .4rem .4rem rgba($color-black, 25%)
$gradient-green: linear-gradient(135deg, rgba($color-forestgreen, 0.6) 0%, rgba($color-forestgreen, 1) 100%)