@import "base/_reset.scss"
@import "base/_normalize.scss"
@import "abstracts/_variable"
@import "abstracts/_mixins"
@import "abstracts/functions"
@import "base/animations"
@import "base/_utilities"
@import "components/_typography"
@import "components/_main-btn"
@import "base/_grid.sass"
@import "components/_section-about"
@import "components/_composition"
@import "components/_premium-card"


html
    font-size: 62.5%
body
    font-family: "lato"
    font-size: 2.4rem
    font-weight: 400
    color: $color-gray
    letter-spacing: .048rem
    padding: 0 5rem
    background-color: #fff
.container
    .header
        position: relative
        height: 95vh
        background: linear-gradient(0deg, rgba($color-black, 0.38) 0%, rgba($color-black, 0.38) 100%), url(<path-to-image>),url(../img/header/header-background.png) center / cover no-repeat
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0% 80%)
        &__logo
                position: absolute
                left: 12rem
                top: 5rem
                height: 11.5rem
                width: 30.7rem
        &__box
                position: absolute
                width: 100%
                top: 45%
                left: 50%
                transform: translate(-50%,-50%)
                text-align: center


    
        

        
            