@import "base/_reset.scss"
@import "base/_normalize.scss"
@import "abstracts/_variable"
@import "abstracts/_mixins"
@import "abstracts/functions"
@import "base/animations"
@import "components/_typography"
@import "base/_grid.sass"
@import "components/_section-about"
@import "components/_composition"
@import "components/_premium-card"
@import "components/_video"
@import "components/_form"
@import "components/_main-btn"
@import "base/_utilities"

html
    font-size: 46%

    @include respond($breakpoint: tab-land)
        font-size: 46%
    
    @include respond($breakpoint: tab-port)
        font-size: 43%

    @include respond($breakpoint: phone)
        font-size: 33%

    @include respond($breakpoint: big-screen)
        font-size: 65.5%
    
body
    font-family: "lato"
    font-size: 2rem
    line-height: 2.5rem
    font-weight: 400
    color: $color-gray
    letter-spacing: .048rem
    padding: 0 5rem
    background-color: $color-white
    @include respond($breakpoint: tab-land)
        font-size: 1.8rem
    @include respond($breakpoint: tab-port)
        font-size: 2rem
.navigation
    &__button
        width: 8rem
        height: 8rem
        border-radius: 300rem
        background: $color-white
        border: 1px solid $color-forestgreen
        position: fixed
        z-index: 400
        right: 10rem
        top: 5rem
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        backface-visibility: hidden
        
    &__icon
        position: relative
        &,
        &::before,
        &::after
            width: 3rem
            height: .02rem
            background: $color-forestgreen
            display: inline-block
           
        &::before,
        &::after
            content: ""
            position: absolute
            left: 0
        &::before
            top: -.8rem
            
        &::after
            top: .8rem
            
    &__button:hover &__icon::before
        top: -1rem
        
    &__button:hover &__icon::after
        top: 1rem
        
            top: .7rem
    &__circle
        width: 5rem
        height: 5rem
        border-radius: 300rem
        background: rgb($color-beige, 95%)
        position: fixed
        z-index: 300
        right: 12rem
        top: 7rem
        transition: 0.3s all
    &__nav
        height: 100vh 
        width: 100%
        position: fixed
        top: 0
        right: 0
        z-index: -10
        opacity: 0
        transition: .2s 
    &__list
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        text-align: center
        display: block
        width: 40%
        padding: 5rem 0
        background: $color-white
    &__item
        &:not(:last-child)
            margin-bottom: 2rem
            
    &__link
        &:link, &:visited
            display: inline-block
            margin: 0 auto
            padding: 0 5rem
            color: $color-forestgreen
            background: linear-gradient(125deg, transparent 0%, transparent 53%, rgba($color-forestgreen,100%) 53%, rgba($color-forestgreen,100%) 100%)
            background-size: 300%
            font-size: 5rem
            transition: .8s
            @include respond($breakpoint: tab-land)
            line-height: 8rem
        &:active, &:hover
            background-position: 100%
            color: $color-white
            transform: translateX(1rem)
    &__toggle
        display: none
    &__toggle:checked ~ &__circle
        transform: scale(500)
    &__toggle:checked ~ &__nav
        width: 100%
        z-index: 300
        opacity: 1
    &__toggle:checked + &__button &__icon
        background: transparent
    &__toggle:checked + &__button &__icon
        background: transparent
        &::before
            transform: rotate(135deg)
            top: 0
        &::after
            transform: rotate(-135deg)
            top: 0 
.container
    .header
        position: relative
        height: 100vh
        background: $gradient-black, url(<path-to-image>),url(../img/header/header-background.jpg) center / cover no-repeat
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0% 80%)
            
        @media (min-resolution: 192dpi) and (min-width:670px), (min-width: 1920px)
            background: $gradient-black, url(<path-to-image>),url(../img/header/header-background-big.jpg) center / cover no-repeat
        &__logo
                position: absolute
                left: 12rem
                top: 5rem
                height: 9rem
                width: 28rem
                @include respond($breakpoint: tab-land)
                    left: 2rem
        &__box
                position: absolute
                width: 100%
                top: 45%
                @include respond($breakpoint: tab-land)
                top: 48%
                left: 50%
                transform: translate(-50%,-50%)
                text-align: center
.footer
    background-color: $color-forestgreen
    padding: 10rem 30rem
    @include respond($breakpoint: tab-land)
        padding: 8rem 30rem
    @include respond($breakpoint: tab-port)
        padding: 4rem 10rem
    &-logo
        height: 8rem 
        width: 24rem 
        margin-bottom: 10rem
        @include respond($breakpoint: tab-land)
            margin-bottom: 7rem
        @include respond($breakpoint: tab-port)
            margin-bottom: 5rem
    &__nav
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @include respond($breakpoint: tab-port)
            justify-content: center
    &__link a
        &:link, &:visited
            text-transform: uppercase
            font-size: $font-size-h3
            font-weight: 400
            @include respond($breakpoint: tab-land)
                font-size: 2.2rem
            @include respond($breakpoint: tab-port)
                font-size: 3rem
                padding: 0 2rem
        &:active, &:hover
            color: $color-olive
            

        
            