.section-about
    padding-top: 17.6rem 
.section-premium
    padding: 20rem 0
    background: linear-gradient(0deg, rgba($color-forestgreen, 0.7) 0%, rgba($color-forestgreen, 0.7) 100%), url(<path-to-image>),url(../img/main/premium/background-premium.jpg) center / cover no-repeat
.section-blog
    padding: 20rem 0
